<div class="dialog">
  <h2>{{ dialogTitle }}</h2>
  <mat-spinner-centered *ngIf="submitting$ | async">
  </mat-spinner-centered>

  <div [hidden]="submitting$ | async">
    <form [formGroup]="formGroup" (submit)="onSubmit()">

      <mat-form-field class="form-control name">
        <input matInput type="text" formControlName="name"
          placeholder="{{ labelName }}" />
      </mat-form-field>

      <mat-form-field class="form-control brand">
        <mat-select formControlName="brand"
          placeholder="{{ labelBrand }}">
          <mat-option *ngFor="let b of (brands$ | async)"
            [value]="b.id">
            {{ b.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-control type">
        <mat-select formControlName="type"
          placeholder="{{ labelType }}">
          <mat-option *ngFor="let b of (deviceFamilies$ | async)"
            [value]="b.id">
            {{ b.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-control description">
        <textarea matInput cdkTextareaAutosize
          formControlName="description"
          placeholder="{{ labelDescription }}">
        </textarea>
      </mat-form-field>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ labelSpecs }} ({{ specs.controls.length }})
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table #specsTable id="specsTable"
          [dataSource]="specs.controls">
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> {{ labelKey }} </th>
            <td mat-cell *matCellDef="let formArray">
              <input matInput type="text" [formControl]="formArray.controls[0]" />
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> {{ labelValue }} </th>
            <td mat-cell *matCellDef="let formArray">
              <input matInput type="text" [formControl]="formArray.controls[1]" />
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-button mat-raised-button type="button"
                class="very-small"
                color="accent"
                (click)="onClickAddSpec()">
                <i class="small material-icons">add</i>
              </button>
            </th>
            <td mat-cell *matCellDef="let i = index">
              <button mat-button mat-raised-button type="button"
                class="very-small"
                color="warn"
                (click)="onClickDeleteSpec(i)">
                <i class="very-small material-icons">close</i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="specsTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: specsTableColumns;"></tr>
        </table>
      </mat-expansion-panel>

      <h5>URLs</h5>
      <div class="form-array-container urls">
        <div class="form-array urls">
          <mat-form-field *ngFor="let c of urls.controls; let i = index"
            class="form-control url">
            <input matInput type="text" [formControl]="c" />
            <button matSuffix mat-button mat-icon-button type="button"
              (click)="onClickDeleteUrl(i)">
              <i class="very-small material-icons">close</i>
            </button>
          </mat-form-field>
        </div>
        <button mat-mini-fab type="button"
          class="btn-add-url"
          color="accent"
          (click)="onClickAddUrl()">
          <i class="small material-icons">add</i>
        </button>
      </div>

      <div class="actions" [hidden]="submitting$ | async">
        <button mat-raised-button type="submit"
          color="success"
          [disabled]="formGroup.invalid || formGroup.untouched || formGroup.pristine">
          <i class="small material-icons">check</i>
        </button>
        <button mat-raised-button mat-dialog-close type="button"
          color="warn">
          <i class="small material-icons">close</i>
        </button>
      </div>
    </form>

  </div>
</div>

