.header {
  display: flex;
  flex: 0 0 5em;
  align-content: center;
  background: maroon;
  border-bottom: 1px #e0e0e06b solid;
}

.header>* {
  display: flex;
  align-content: center;
}

.header-logo {
  width: 10em;
  background-color: darkred;
  padding: 0 1.5em 0 1em;
  justify-content: space-between;
  align-items: center;
}

.header-logo>img {
  height: 3em;
  width: 3em;
}

.header-logo>h1,
.header-toggle-nav,
.header-content,
.header-open-menu {
  color: white;
}

.header-content,
.header-toggle-nav,
.header-open-menu {
  align-items: center;
  justify-content: center;
}

.header-content {
  display: inline-flex;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  flex: 1 1 1em;
  flex-direction: column;
}

.header-toggle-nav,
.header-open-menu {
  width: 5em;
  min-width: 5em;
  flex: 0 0 1em;
  border-radius: 0;
}

.header-toggle-nav *,
.header-open-menu * {
  font-size: 2.25rem;
  margin: 0;
}
