.header {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color: var(--color-bg);
  border-bottom: 1px #e0e0e06b solid;
}

.header * {
  color: var(--color-content);
}

.logo {
  flex: 0 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 1rem;
  padding: 0 1rem;
}

.logo img {
  height: 3rem;
  width: 3rem;
}
.logo h1 {
  display: none;
}

@media(min-width: 800px) {
  .logo h1 {
    display: block;
    margin: 0;
  }
}

.middle {
  flex: 1 1 auto;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  line-break: auto;
  padding: 0.5rem 1rem;
}

.action {
  flex: 0 0 auto;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.action .material-icons {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 2.25rem;
  margin: 0;
}
