mat-card-header
  height: 3em

mat-card-content
  padding: 2em
  min-height: 15em

.thumbnail
  margin-bottom: 1em
  height: 12em
  display: flex
  justify-content: center

.thumbnail img
  max-height: 100%

mat-card-content>a
  display: inline-block

mat-card-actions
  padding: 0.5em
