<table mat-table #table>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let question"
      (click)="onClickView(question)">
      {{ question.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Autor </th>
    <td mat-cell *matCellDef="let question"
      (click)="onClickView(question)">
      {{ question.ownerName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef> Created </th>
    <td mat-cell *matCellDef="let question"
      (click)="onClickView(question)">
      {{ question.properDate }}
    </td>
  </ng-container>
  <ng-container matColumnDef="answersCount">
    <th mat-header-cell *matHeaderCellDef> Answers </th>
    <td mat-cell *matCellDef="let question"
      (click)="onClickView(question)">
      {{ question.answersCount }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
  <tr mat-row
    *matRowDef="let row; columns: tableColumns;">
  </tr>
</table>
