.landing {
  display: grid;
  background-color: #ddd;
  justify-content: center;
  grid-template-columns: 1fr;
}
@media(min-width: 800px) {
  .landing {
    padding: 1rem;
    grid-template-columns: 44rem;
  }
}

h2 {
  text-align: center;
}

section {
  padding: 1rem;
}

.section-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.section-header span {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

p {
  margin: 0.5rem
}
