app-device-filters-card,
.catalog
  background: #eee

.page
  display: flex
  flex-direction: column
  height: 100%
  align-content: stretch

app-device-filters-card,
.catalog
  padding: 0.75em

app-device-filters-card
  flex-grow: 0
  flex-shrink: 1

.catalog
  flex-grow: 1
  flex-shrink: 1
  display: grid
  grid-gap: 1em
  grid-template-columns: repeat(auto-fit, 24em)
  grid-auto-rows: 20em
  justify-content: center
  overflow-x: hidden
  overflow-y: auto

.catalog-summary
  height: 1.5em
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 0 3em
