.page
  background: #ddd
  display: flex
  flex-direction: column
  height: 100%
  align-content: stretch

.page>app-device-filters-panel
  flex: 0 1 4em
  padding: 0.75em

.page>.catalog-wrapper
  flex: 1 1 10em
  padding: 0.75em 0.75em 0.75em 0.75em
  overflow-y: auto

.page>.catalog-summary
  flex: 0 0 2em

.catalog-wrapper
  padding-bottom: 0.5em

.catalog
  display: grid
  grid-gap: 1em
  grid-template-columns: repeat(auto-fit, 24em)
  grid-auto-rows: 1fr
  justify-content: center

.catalog-summary
  background: #aaa
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 0 3em
