.filters-grid {
  display: grid;
  grid-gap: 1.5em;
  justify-content: center;
  margin-bottom: 1em;
  grid-template-columns: 1fr
}

.filter {
  height: 3em;
  grid-column-start: span 1;
}

.filters-grid>button {
  grid-column-start: span 1;
}

@media only screen and (min-width: 450px)  {
  .filters-grid  {
    grid-template-columns: 1fr 1fr;
  }

  .filter.title,
  .filter.author,
  .filters-grid>button  {
    grid-column-start: span 2 !important;
  }

  .filter.date-range-from
  .filter.date-range-to  {
    grid-column-start: span 1 !important;
  }

  .filters-grid>button  {
    grid-column-start: span 2 !important;
  }
}

@media only screen and (min-width: 768px) {
  .filters-grid {
    grid-template-columns: repeat(6, minmax(5em,1fr));
  }

  .filter.title,
  .filter.author {
    grid-column-start: span 3 !important;
  }

  .filter.date-range-from,
  .filter.date-range-to {
    grid-column-start: span 2 !important;
  }

  .filters-grid>button {
    grid-column-start: span 1 !important;
  }
}
