.forum-thread {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
}

.forum-thread>mat-divider {
  flex: 0 0 auto;
  padding: 0;
}

.forum-thread>.scroll-y {
  flex: 1 1 100%;
}

.forum-thread>.reply-panel {
  flex: 1 0 auto;
  overflow: hidden;
}

.resume {
  padding: 2em 2em 1em 2em;
}

.resume>h4 {
  margin: 0;
}

.resume>.material-icons {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.answers>h2 {
  margin: 1em 1em 2em 1em;
}

.answers>.answer {
  margin: 1em 3em;
}

.answers>.answer>p {
  white-space: pre-wrap;
}

.answers>.answer>.votes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.answers>.answer>.votes>button {
  margin-left: 1em;
}
