<div class="container">
  <app-nav-header></app-nav-header>
  <mat-sidenav-container>
    <mat-sidenav [opened]="sidenavOpen" mode="side" role="navigation">
      <mat-nav-list role="navigation-links">
        <a mat-list-item *ngFor="let link of links; let i = index"
          (click)="onNavigation(i)"
          [class.active]="link.enabled"
          [routerLink]="[baseRoute, link.path]"
          [style.font-size]="link.fontSize">
          <i class="material-icons">{{ link.icon }}</i>
          {{ link.text }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main" class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="footer">
    <span>app-forein v{{ labelVersion }} - Licencia MIT</span>
    <span>Angular por Google ©2010-2020</span>
    <span>Benjamin La Madrid ©2020 (got12g@gmail.com)</span>
  </div>
</div>
