<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ labelQuestionFilters }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="filterForm">
    <div class="filters">
      <div class="filter-form">
        <mat-form-field class="form-control-title">
          <input matInput type="text"
            placeholder="{{ labelTitle }}"
            formControlName="title" />
        </mat-form-field>
      </div>
      <div class="filter-form">
        <mat-form-field class="form-control-author">
          <mat-select matInput
            placeholder="{{ labelAuthor }}"
            formControlName="author">
            <mat-option *ngFor="let u of (users$ | async)" [value]="u.id">
              {{ u.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter-form">
        <mat-form-field class="form-control-date-range-from">
          <input matInput type="date"
            placeholder="{{ labelDateRangeFrom }}"
            formControlName="dateRangeFrom"
            [matDatepicker]="dateFrom">
          <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="filter-form">
        <mat-form-field class="form-control-date-range-to">
          <input matInput type="text"
            placeholder="{{ labelDateRangeTo }}"
            formControlName="dateRangeTo"
            [matDatepicker]="dateTo">
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="confirm">
      <button mat-raised-button color="accent"
        type="submit"
        title="{{ labelUpdateFilters }}">
        <i class="small material-icons">search</i>
      </button>
    </div>
  </form>
</mat-expansion-panel>
