<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <mat-spinner-centered *ngIf="saving">
  </mat-spinner-centered>

  <app-person-form #personForm
    [hidden]="saving"
    [person]="data.person">
  </app-person-form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-raised-button
    type="button"
    [disabled]="saving"
    (click)="onClickAccept()">
    Accept
  </button>
  <button mat-button mat-raised-button
    color="warning"
    type="button"
    [disabled]="saving"
    (click)="onClickCancel()">
    Cancel
  </button>
</mat-dialog-actions>
