form {
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

h2 {
  align-self: flex-start;
}

.form-control.title,
.form-control.question-content {
  align-self: stretch;
}

button {
  margin-top: auto;
}
