.app
  display: flex
  flex-flow: column nowrap
  width: 100%
  height: 100%

app-header
  flex: 0 0 5em

mat-sidenav-container
  flex: 1 1 auto
  background: #ddd

app-footer
  flex: 0 0 auto

.content
  overflow-y: auto
