<div class="header">
  <button mat-button
    class="header-toggle-nav"
    title="{{ toggleSideMenuLabel }}"
    (click)="sidenavOpen = !sidenavOpen">
    <i class="material-icons">menu</i>
  </button>
  <div class="header-logo">
    <img src="assets/logo.png" alt="Forein">
    <h1>Forein</h1>
  </div>
  <div class="header-content">
    <span>{{ currentModuleNameLabel }}</span>
  </div>
  <ng-template *ngIf="userNameLabel">
    <mat-menu #headerMenu class="header-menu" xPosition="before">
      <button mat-menu-item class="header-menu-edit-profile"
        title="{{ editProfileLabel }}"
        (click)="onClickEditProfile()">
        <i class="material-icons">edit</i>
        {{ editProfileLabel }}
      </button>
      <button mat-menu-item class="header-menu-exit-session"
        title="{{ disconnectLabel }}"
        (click)="onClickExitSession()">
        <i class="material-icons">exit_to_app</i>
        {{ disconnectLabel }}
      </button>
    </mat-menu>
    <button mat-button class="header-open-menu" [matMenuTriggerFor]="headerMenu">
      <span>{{ usernameLabel }}</span>
      <i class="material-icons">person</i>
    </button>
  </ng-template>
</div>
