section {
  overflow-y: auto;
  padding: 0.1em;
}

form {
  display: grid;
  grid-gap: 1em;
}

form>mat-form-field,
form>mat-select {
  width: 100%;
}

input {
  width: 100%;
}


mat-dialog-content {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

.form-table {
  min-height: 4rem;
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

h5 {
  margin: 0;
}

#specsTable {
  width: 100%;
}

#specsTable .mat-column-key,
#specsTable .mat-column-value {
  flex: 1 0 10rem;
}

#specsTable .mat-column-actions {
  flex: 0 0 3rem;
}

.form-array-container.urls {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}

.form-array-container.urls>.urls {
  flex: 1 1 8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.form-array-container.urls>.btn-add-url {
  flex: 0 0 auto;
  margin: 1rem;
}
