<div class="container">
  <app-nav-header></app-nav-header>
  <mat-sidenav-container>
    <mat-sidenav [opened]="sidenavOpen" mode="side" role="navigation">
      <mat-nav-list role="navigation-links">
        <a mat-list-item *ngFor="let module of modules; let i = index"
          (click)="onClickNavigationItem(i)"
          [class.active]="module.enabled"
          [routerLink]="[baseRoute, module.path]">
          <mat-icon>{{ module.icon }}</mat-icon>
          {{ module.text }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main" class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="footer">
    <span>app-forein</span>
    <span>Aplicación Angular 8 escrita por Benjamin '12g' La Madrid</span>
  </div>
</div>
