<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ labelDeviceFilters }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="filterForm" (submit)="submitFilters()">
    <div class="filters-grid">
      <div class="filter name">
        <mat-form-field>
          <input matInput placeholder="{{ labelName }}" formControlName="name" />
        </mat-form-field>
      </div>
      <div class="filter brand">
        <mat-form-field>
          <mat-select matInput placeholder="{{ labelBrand }}" formControlName="brand">
            <mat-option>{{ labelOmitFilter }}</mat-option>
            <mat-option *ngFor="let b of (brands$ | async)"
              [value]="b.id">
              {{ b.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter type">
        <mat-form-field>
          <mat-select matInput placeholder="{{ labelType }}" formControlName="type">
            <mat-option>{{ labelOmitFilter }}</mat-option>
            <mat-option *ngFor="let t of (types$ | async)"
              [value]="t.id">
              {{ t.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-button type="submit"
        color="accent"
        title="{{ labelUpdateFilters }}">
        <i class="small material-icons">search</i>
      </button>
    </div>
  </form>
</mat-expansion-panel>
